/* select search start */


.custom-select {
    position: relative;
    width: 200px;

  }
  .select-header {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;

  }

  .options {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1;
  }

  .options li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .options li:hover {
    background-color: #f78080;
  }

  .select-header.open {
    border-color: #8825ca;
  }
/* select search end */