


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --bgwhite: #ffffff;
    --bgBlack:#000000;
    --fontblack: #000000;
    --fontWhite: #ffffff;
    --red:#f53b3b;
    --yellow: #fbb714;
    --gray:#cbccfa;
    --gray2: #444444;
    --pink1: #ffeaf9;
    --color-text-desc: #75767c;

}
body{
    font-family: 'Jost', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
.form-control:focus{
    box-shadow: none;
    border-color: inherit;
}




/* For All */

.sectionGap_top{
    margin-top: 60px;
}
.sectionGap_bottom{
    margin-bottom: 60px;
}

.description{
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    color: var(--color-text-desc);
    word-spacing: 0.3px;
    margin-bottom: 5px;
}
.marginGap_0{
    margin: 0;
    padding: 3px;
}
.heading{
    font-family: 'Jost', sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    margin: 6px 0 6px 0;
}

.topHeadingSection{
    font-family: 'Jost', sans-serif;
    font-size: 2.134rem;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 15px;
}
.exSmallHeading{
    font-family:'Jost', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 10px;
}

/* For center Content use center & CenterContent */
.center {
    position: relative;
  }
  
.centerContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* for Button */
.button_A{
    background-color: var(--pink1);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 11px 30px;
    color: var(--red);
    border-color:var(--red);
}
.button_A:hover{
    background-color: var(--red);
    color:var(--fontWhite);
}

p, a, div, h1,h2,h3,h4,h5,h6,span, footer, type, input,button,img{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

/* For all End */







/* Header part  */
/* First FirstTopNav part start */
.firstTopBg{
    background-color: var(--bgBlack);
}

.firstTopText{
    font-size: 0.829rem;
    word-spacing: 3px;
    color: var(--fontWhite)
}

.firstTopShop{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--fontWhite);
}
.firstTopShop:hover{
    color: var(--red)
}
/* First FirstTopNav part End */





.header-top-strip{
    background-color: var(--bgwhite);
    border-bottom: 1px solid var(--gray);
}
.header-upper{
    background-color: var(--bgwhite);
}
.header-upper .input-group-text{
    background-color: var(--bgwhite);
}

.headerBottomBorder{
    border-bottom: 1px solid var(--gray);
}


.socialIcon{
    font-size: 20px;
}
.gap-15{
    gap: 15px;
}
.gap-10{
    gap: 10px;
}
.gap-0 {
    gap:0px;
}
.secondTopItem{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.seconddropText{
    font-size: 14px;
}
.dropdownBox1{
    min-width: 200px;
    
}
.dropdownBox2{
    min-width: 100px;
    
}
.clickShop{
    color:var(--red);
    font-weight: 600;
}

@media only screen and (max-width: 972px) {
    .displayNone{
        display:none;
    }
  }







/* header part End */



/* Fourth Top Nav start */

.dropDounBtn{
    background-color: var(--bgwhite);
}

/* Fourth Top Nav End */






/* Footer Part End */
/* First Footer Part start */

.footerBg{
    background-color: var(--bgBlack);
}
.footerPadding{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footerHeading{
    color: var(--fontWhite);
    margin-bottom: 5px;
}
.footerdDece{
    color: var(--fontWhite);
    font-size: 0.9rem;
    margin-bottom: 9px;

}
.footerdDeceSmall{
    color: var(--fontWhite);
    font-size: 0.7rem;
    margin-top: 9px;
}

.footerBtn{
    font-size: 0.9rem;
    color: var(--fontWhite);
    border-color: var(--fontWhite);
    
}

.footerBtn:hover{
    color: var(--fontWhite);
    border-color: var(--fontWhite);
    background-color: var(--gray2);
    
}

.inputWidth{
    max-width: 500px !important;
}

.inputPadding{
    padding-top: 8px;
    padding-bottom: 6px;
}

@media only screen and (max-width: 992px) {
    .padd{
        padding-top: 18px;
    }
  }

/* First Footer Part End */


/* Last Footer Part start */


.lastFooterDesc{
    
    font-size: 0.9rem;
    word-spacing: 5px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.lastFooterHeading{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 7px;
}


.lastFooterMenu{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 7px;
}

.footerBottomBorder{
    border-bottom: 1px solid var(--gray);
    padding-bottom: 30px;
}


.footerdDeceSmall2{
    font-size: 0.825rem;
}





@media only screen and (max-width: 768px) {
    .skCenter{
        text-align: center;
    }

    .lastFooterDesc{
        text-align: center;
    }

    .lastFooterHeading{
        text-align: center;
        padding-top: 18px ;
    }
    
    .lastFooterMenu{

        text-align: center;
    }
  }

  /* Last Footer Part start */

/* Footer Part End */







/* HomeUp Section Start */
.HomeUpImg{
    width: 55px;
    height: 50px;
    margin-right: 30px;
    margin-top: 17px;
}
.homeUpHeading{
    font-family:'Jost', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 5px;
}


@media only screen and (max-width: 768px) {
    .mdMarginbottom{
        margin-bottom: 30px
    }
}
@media only screen and (max-width: 992px) {
    .smMarginbottom{
        margin-bottom: 30px
    }
}

/* HomeUp Section Start */





/* New Season Start */

.nsImg{
    max-width: 100%;
    height: auto;
}

.nsImg1{
    padding-right: 13px;
}

.nsImg2{
    padding-bottom: 35px;
}

.nsHeading2{
    font-size: 1.9rem;
    font-weight: 500;
}

.nsShopNowText{
    font-size: 1.1rem;
    font-weight: 600;
}
.nsShopNowArrow{
    margin-left: 13px; 
}
.nsLeftContainer{
position: relative;

}
.nsTextDetail{
    position: absolute;
    top:50px;
    left:60px;
    max-width: 350px;
    z-index: 100;
    
}

.nsRightContainer1{
    position: relative;
    
}


@media only screen and (max-width: 768px) {
    .nsImg1{
        padding-bottom: 35px;
    }


}
@media only screen and (max-width: 992px) {
    .nsImg1{
        padding-bottom: 35px;
    }


}
/* New Season End */




/* our latest news Start */

.latestImg{
    max-width: 100%;
    height: auto;
}
.latestImgMargin{
    padding-right: 30px;
    padding-left: 30px;
}

.latestDesc{
    text-align: center;
    margin-bottom: 80px;
    padding: 0 50px 0 50px;
}
.latestUpText{
    font-size: 0.9rem;
    margin: 16px 0 12px 0;
}
.latestHeading{
    font-size: 1.789rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}


@media only screen and (max-width: 768px) {
    .latestImgMargin{
        margin-bottom: 40px;
    }


}
@media only screen and (max-width: 992px) {
    .latestImgMargin{
        margin-bottom: 40px;
    }
}



/* our latest news end */



/* Discount Start */

.disContent{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    background-color: var(--pink1);
    padding: 40px 0 40px 0;
}

.dcDesc1{
    color: var(--red);
    font-weight: 400;
    padding:0 15px 0 15px;
}
.dcDesc2{
    font-size: 1rem;
    color: var(--red);
    padding:0 15px 0 15px;
    font-weight: 400;
}
.dcBotton{
    background-color: var(--pink1);
    color: var(--red);
    padding: 0px 15px;
    border: 1px dashed red;
}

.dcSpan{
    font-weight: 700;
}



@media only screen and (max-width: 768px) {
    .disContent{
        display: block;
        text-align: center;
    }
    .dcBotton{
        margin: 10px 0;
    }

    
}
@media only screen and (max-width: 992px) {
    .disContent{
        display: block;
        text-align: center;
    }
    .dcBotton{
        margin: 10px 0;
    }
}
/* Discount End */




/* Summmer collection Start */

.sumColImg{
    max-width: 100%;
    max-height: 100%;
    
}

.summerCollection{
    background-color: var(--pink1);

}

.smDescpadding{
    padding: 12px 0 30px 0;
}

.sumContent{
    padding: 50px 10px ;
    text-align: center;
    box-sizing: border-box;
}



/* Summer collection end */