


*,:root{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --bgwhite: #ffffff;
    --bgBlack:#000000;
    --fontblack: #000000;
    --fontWhite: #ffffff;
    --red:#FE1E1E;
    --red2:#ff6767;
    --yellow: #fbb714;
    --gray:#cbccfa;
    --gray2: #444444;
    --pink1: #ffeaf9;
    --color-text-desc: #75767c;
    --gray3: rgb(233, 233, 233);
    --green:green;
    --1stHead: #011A21;
    --2ndHead: #012B35;
    --3rdHead: #033C4A;
    --4thHead: #044E61 ;
    --5thHead: #04637A ;
    --deepwhite: rgb(255, 255, 255);
    --gray0: #BDC3C7;
}
body{
    font-family: 'Jost', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
.form-control:focus{
    box-shadow: none;
    border-color: inherit;
}




/* For All */

a{
    text-decoration: none;
    color: var(--gray2);
}
li{
    list-style: none;
}
.bottomBorder{
    border-bottom: 1px solid var(--3rdHead);
}

.sectionGap_top{
    margin-top: 85px;
}
.sectionGap_bottom{
    margin-bottom: 60px;
}

.description{
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    color: var(--color-text-desc);
    word-spacing: 0.3px;
    margin-bottom: 5px;
}

.description2{
    font-family: 'Jost', sans-serif;
    font-size: 0.9rem;
    color: var(--color-text-desc);
    word-spacing: 0.3px;
    margin-bottom: 5px;
}

.marginGap_0{
    margin: 0;
    padding: 3px;
}
.heading{
    font-family: 'Jost', sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    margin: 6px 0 6px 0;
}

.topHeadingSection{
    font-family: 'Jost', sans-serif;
    font-size: 2.134rem;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 15px;
}
.mdllHeading{
    font-family:'Jost', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.exSmallHeading{
    font-family:'Jost', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 10px;
}


/* For center Content use center & CenterContent */
.center {
    position: relative;
  }
  
.centerContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* for Button */
.button_A{
    background-color: var(--pink1);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 11px 30px;
    color: var(--2ndHead);
    border-color:var(--2ndHead);
}
.button_A:hover{
    background-color: var(--3rdHead);
    color:var(--fontWhite);
}


.button_B{
    background-color: var(--bgwhite);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 11px 30px;
    color: var(--1stHead);
    border:none;
}
.button_B:hover{
    background-color: var(--3rdHead);
    color:var(--fontWhite);
}
img{
    margin: 0;
    padding: 0;
}




h1,h2,h3,h4,h5,h6,div,p,img,input,a,button,section,main,article{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* For all End */







/* Header part  */
/* First FirstTopNav part start */
.firstBgHead{
    background-color: var(--1stHead);
    padding: 0.6rem 0;
}

.firstNavContent{
    text-align: center;
    font-size: 0.777rem;
    letter-spacing: 1px;
    color: var(--gray0);
}

.firstNavContent span{
    color:var(--red)
}
/* First FirstTopNav part End */



        /* thirdTopNav start */

.thirdBgHead{
    background-color: var(--1stHead);
    color:var(--gray0);
}

.thirdNavContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
}

.ThirdNavContent{
    display: flex;
    margin-right: 5px;
}
.ThirdNavContent p{
    margin-right: 0.5rem;
    font-size: 0.9rem;
}
.thirdNavSpan{
    color: var(--red);
    font-weight: 600;
}
.selectBorder{
    border:none;
}

.thirdNavIcon{
    font-size: 1.2rem;
}

@media only screen and (max-width: 972px) {
    .displayNone{
        display:none;
    }
}
                /* thirdTopNav End */



                /* Fourth Top Nav start */

.bgHead{
    background-color: var(--3rdHead);
    padding: 0.8rem 0;
    color: var(--gray0);
}
.fourthNavIcon{
    font-size: 2rem;
    color: var(--gray0);
}
.fourthNavIcon2{
    color: var(--gray0);
}
.logo{
    font-size: 2rem;
    font-weight: 900;
    color: rgb(230, 245, 230);
}


.fourthNavContent input{
    background-color: var(--1stHead);
    min-width: 23rem;
    padding: 0.7rem 0.7rem 0.7rem 3rem;
    color: var(--gray0);
    border: none;
    border-color: var(--color-text-desc) !important;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;

}
.fourthNavContent input:focus{
    outline: none;
}

.fourthNavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fourthNavContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourthNavContentGapColor{
    display: flex;
    gap: 1.8rem;
    font-size: 1.4rem;
}


.positionSearchContainer{
    position: relative;
}
.positionSearchContent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.234rem;
    width: 26px;
    height: 26px;
    position: absolute;
    top:11px;
    left:14px;
    z-index: 10;
}






            /* select search start */
.selectContainer {
    position: relative;
    width: 180px;
}
.selectHeader{
    background-color: var(--1stHead);
    padding: 0.7rem;
    cursor: pointer;
    transition: border 0.4s ease;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    border-left: 1px solid var(--4thHead);

    display: flex;
    justify-content: space-between;
}

.selectOption{
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--3rdHead);
    border-top: none;
    position: absolute;
    top: 131%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: var(--3rdHead);
    z-index: 1;

}

.selectOption li {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selectOption li:hover {
    background-color: var(--5thHead);

}

.selectHeader.open {
    border-color: var(--gray);
}

@media only screen and (max-width: 972px) {
    .positionSearchContainer{
        display: none;
    }

}



            /* select search end */
        /* Fourth Top Nav End */



        /* FifthTopNav  Start */

.fifthHead{
    background-color: var(--4thHead);
    color: var(--gray0);
}

.sidebar{
    border-right: 1px solid var(--5thHead);
    padding: 0.999rem 1rem;
}

.fifthLeftCol{
    display:flex;
    justify-content: center;
    align-items: center;
}

.fifthLeftCol p{
    font-size: 1.111rem;
}
.fifthLeftContent{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.fifthLeftIcon{
    width: 1.7rem;

}

.fifthRightIcon{
    width: 0.7rem;
}






.contentCenter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fifthRightContent ul {
    color: var(--gray0);
    margin: 0px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fifthRightContent ul li{
    color: var(--gray0);
    margin: 0px auto;
    display: flex;
    gap: 30px;
}

.fifthRightContent ul li a{
    color: var(--gray0);
    margin: 0 1.2rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.fifthRightItem li{
    display: flex;
}



/* fifthHomeDropdown start */
.homeDropdownContainer ul{
    background-color: var(--5thHead);
    width: 16rem;
    height: 17.77rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.homeDropdownContainer ul div li a{
    padding: 0.2245rem 0rem;
    font-size: 1.1rem;
}


            /* fifthHomeMenu start */
        /* FifthTopNav End */
/* header part End */






/* Footer Part End */

            /* First Footer Part start */
.footerBg{
    background-color: var(--bgBlack);
}
.footerPadding{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footerHeading{
    color: var(--fontWhite);
    margin-bottom: 5px;
}
.footerdDece{
    color: var(--fontWhite);
    font-size: 0.9rem;
    margin-bottom: 9px;

}
.footerdDeceSmall{
    color: var(--fontWhite);
    font-size: 0.7rem;
    margin-top: 9px;
}

.footerBtn{
    font-size: 0.9rem;
    color: var(--fontWhite);
    border-color: var(--fontWhite);
    
}

.footerBtn:hover{
    color: var(--fontWhite);
    border-color: var(--fontWhite);
    background-color: var(--gray2);
    
}

.inputWidth{
    max-width: 500px !important;
}

.inputPadding{
    padding-top: 8px;
    padding-bottom: 6px;
}

@media only screen and (max-width: 992px) {
    .padd{
        padding-top: 18px;
    }
  }

/* First Footer Part End */


/* Last Footer Part start */


.lastFooterDesc{
    
    font-size: 0.9rem;
    word-spacing: 5px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.lastFooterHeading{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 7px;
}


.lastFooterMenu{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 7px;
}

.footerBottomBorder{
    border-bottom: 1px solid var(--gray);
    padding-bottom: 30px;
}


.footerdDeceSmall2{
    font-size: 0.825rem;
}





@media only screen and (max-width: 768px) {
    .skCenter{
        text-align: center;
    }

    .lastFooterDesc{
        text-align: center;
    }

    .lastFooterHeading{
        text-align: center;
        padding-top: 18px ;
    }
    
    .lastFooterMenu{

        text-align: center;
    }
  }

  /* Last Footer Part start */

/* Footer Part End */







/* HomeUp Section Start */
.HomeUpImg{
    width: 55px;
    height: 50px;
    margin-right: 30px;
    margin-top: 17px;
}
.homeUpHeading{
    font-family:'Jost', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 5px;
}


@media only screen and (max-width: 768px) {
    .mdMarginbottom{
        margin-bottom: 30px
    }
}
@media only screen and (max-width: 992px) {
    .smMarginbottom{
        margin-bottom: 30px
    }
}

/* HomeUp Section Start */





/* New Season Start */

.nsImg{
    max-width: 100%;
    height: auto;
}

.nsImg1{
    padding-right: 13px;
}

.nsImg2{
    padding-bottom: 35px;
}

.nsHeading2{
    font-size: 1.9rem;
    font-weight: 500;
}

.nsShopNowText{
    font-size: 1.1rem;
    font-weight: 600;
}
.nsShopNowArrow{
    margin-left: 13px; 
}
.nsLeftContainer{
position: relative;

}
.nsTextDetail{
    position: absolute;
    top:50px;
    left:60px;
    max-width: 350px;
    z-index: 100;
    
}

.nsRightContainer1{
    position: relative;
    
}



@media only screen and (max-width: 992px) {
    .nsImg1{
        padding-bottom: 35px;
    }
    .nsHeading2{
        font-size: 1.9rem;
        font-weight: 500;
    }
    
    .nsShopNowText{
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    
    .nsRightContainer1{
        position: relative;
        
    }
    
    
    .nsTextDetail{
        position: absolute;
        top:50px;
        left:60px;
        width: 450px;
        z-index: 100;
        
    }

}


@media only screen and (max-width: 480px) {
    .nsHeading2{
        font-size: 1.3rem;
        font-weight: 600;
        width: 12rem;

    }
    
    .nsShopNowText{
        font-size: 1rem;
        font-weight: 700;
    }
    
    
    .nsRightContainer1{
        position: relative;
        
    }
    
    
    .nsTextDetail{
        position: absolute;
        top:20px;
        left:40px;
        max-width: 350px;
        z-index: 100;
        
    }
}
/* New Season End */




/* our latest news Start */

.latestImg{
    max-width: 100%;
    height: auto;
}
.latestImgMargin{
    padding-right: 30px;
    padding-left: 30px;
}

.latestDesc{
    text-align: center;
    margin-bottom: 80px;
    padding: 0 50px 0 50px;
}
.latestUpText{
    font-size: 0.9rem;
    margin: 16px 0 12px 0;
}
.latestHeading{
    font-size: 1.789rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}


@media only screen and (max-width: 768px) {
    .latestImgMargin{
        margin-bottom: 40px;
    }


}
@media only screen and (max-width: 992px) {
    .latestImgMargin{
        margin-bottom: 40px;
    }
}



/* our latest news end */



/* Discount Start */

.disContent{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    background-color: var(--pink1);
    padding: 40px 0 40px 0;
}

.dcDesc1{
    color: var(--red);
    font-weight: 400;
    padding:0 15px 0 15px;
}
.dcDesc2{
    font-size: 1rem;
    color: var(--red);
    padding:0 15px 0 15px;
    font-weight: 400;
}
.dcBotton{
    background-color: var(--pink1);
    color: var(--red);
    padding: 0px 15px;
    border: 1px dashed red;
}

.dcSpan{
    font-weight: 700;
}



@media only screen and (max-width: 768px) {
    .disContent{
        display: block;
        text-align: center;
    }
    .dcBotton{
        margin: 10px 0;
    }

    
}
@media only screen and (max-width: 992px) {
    .disContent{
        display: block;
        text-align: center;
    }
    .dcBotton{
        margin: 10px 0;
    }
}
/* Discount End */




/* Summmer collection Start */

.sumColImg{
    max-width: 100%;
    max-height: 100%;
    
}

.summerCollection{
    background-color: var(--pink1);

}

.smDescpadding{
    padding: 12px 0 30px 0;
}

.sumContent{
    padding: 50px 10px ;
    text-align: center;
    box-sizing: border-box;
}



/* Summer collection end */


/* client review start */

.faStar{
    color: var(--red);
    font-size: 20px;
    margin-bottom: 10px;
}

.circleImg{
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid rgb(0, 115, 230);
    width: 100px;
    height: 100px;
}
.siderPadding{
    padding-bottom: 3rem;
    margin: 10px 0;
}

/* client review End */





/* Catagories Product Star */

.catg_circleImg{
    border-radius: 50%;
    max-width: 85%;
    max-height: 85%;

}





.slick-prev:before,
.slick-next:before {
    color: var(--color-text-desc)!important;
    font-size: 30px !important;
    left: -2rem !important;
    right: 1rem !important;
    z-index: 4;
    
}


.catgTextPadding{
    padding: 15px 0 0px 5px ;
}
.catgTextPadding:hover{
    color: var(--red);
}


/* Catagories Product Star */

/* New Season 2 Start */

.ns2Img{
    max-width: 100%;
    height: 100%;
}

.ns2Img1{
    padding-right: 13px;
}

.ns2Img2{
    padding-bottom: 35px;
}

.ns2Heading2{
    font-size: 1.9rem;
    font-weight: 500;
}

.ns2ShopNowText{
    font-size: 1.1rem;
    font-weight: 600;
}


.ns2RightContainer1{
    position: relative;
    
}


.ns2TextDetail{
    position: absolute;
    top:50px;
    left:60px;
    max-width: 350px;
    z-index: 100;
    
}

@media only screen and (max-width: 992px) {

    
    .ns2Heading2{
        font-size: 1.9rem;
        font-weight: 500;
    }
    
    .ns2ShopNowText{
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    
    .ns2RightContainer1{
        position: relative;
        
    }
    
    
    .ns2TextDetail{
        position: absolute;
        top:50px;
        left:60px;
        width: 450px;
        z-index: 100;
        
    }

}


@media only screen and (max-width: 480px) {
    .ns2Heading2{
        font-size: 1.3rem;
        font-weight: 600;
        width: 12rem;

    }
    
    .ns2ShopNowText{
        font-size: 1rem;
        font-weight: 700;
    }
    
    
    .ns2RightContainer1{
        position: relative;
        
    }
    
    
    .ns2TextDetail{
        position: absolute;
        top:20px;
        left:40px;
        max-width: 350px;
        z-index: 100;
        
    }
}
/* New Season End */


/* DealOfTheWeek  start*/

.dealImg{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.dealHeding{
    font-size: 3.2rem;
    font-weight: 400;
}

.dealSmallDesc{
    font-size: 0.9rem;
    font-weight: 300;
}

.dealSmallBg{
    background-color: var(--red);
    color: var(--fontWhite);
    padding: 1px 10px;
}

.dealPadding{
    padding: 2rem
}

.dealBg{
    background-color: var(--pink1);
    
}



.DtimerItem h6{
    font-size: 2.899rem;
    font-weight: 300;
    margin: 1.888rem 1.999rem 0 0;
}
.DtimerItem h6 span{
    font-size: 1.7rem;
    font-weight: 500;
}
/* DealOfTheWeek  End*/



/* ladstDeal Start */

.LastDealDesc{
    text-align: center;
    padding: 0px 100px 30px 100px;
}

.lastDealImg{
    width: 14.375rem;
    height: 21.563rem;
}

.LastDealLeftBox{
    border: 2px solid var(--gray3);
    margin: 2px;
    padding: 20px;
}

.lastDealHeading{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin:0.5rem;
}

.lastDealIcon{
    color: var(--yellow);
    font-size: 13px;
    margin-right: 5px;
}

.reviews{
    font-size: 13px;
    margin-left: 5px;
}

.lastDealSmallDesc{
    font-size: small;
}


.LastDealLeftBox:hover{
    border: 2px solid var(--2ndHead);
}
.LastDealLeftBox:hover .timerItem{
    background-color: var(--2ndHead);
    color: var(--fontWhite)
}

.LastDealLeftBox:hover .lastDealHoverIcon{
    opacity: 1;
    transform: translateX(-10px);
    transition: transform 0.6s;
}

.lastDealImgBox{
    position: relative;
}

.lastDealHoverIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;

    height:160px;


    position:absolute;
    top: 0;
    right: 0;
    z-index: 50;
    opacity: 0;
    transition: 0.6s;
}




.lastDealHoverIconItem{
    background-color: var(--fontWhite);
    width: 35px;
    height: 35px;
    margin: 5px;
    padding: 8px;
    border-radius: 50%;
}

.lastDealHoverIconItem:hover{
    background-color: var(--2ndHead);
    color: var(--fontWhite);
}


.lastDealpersentage{
    width: 45px;
    background-color: var(--bgwhite);
    color:var(--green);
    text-align: center;
    font-weight: 500;
    position: absolute;
    top:10px;
    left:10px;
    z-index: 50;
}



/* lastDael End */



/* CoundownTimer start */

.countdownTimer {
    display: flex;
    font-size: 5px;
}
.timerItem{
    margin-right: 7px;
    padding: 7px;
    background-color: var(--gray);
    border-radius: 8px;
}

.timerItem h6{
    font-size: 14px;
}
/* CoundownTimer End */











